{{ define "title" }}
{{ .article.Title }} - Procodes
{{ end }}

{{ define "style" }}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/github-dark-dimmed.min.css">
{{ end }}

{{ define "content" }}
<!-- Main Article -->
<div class="col-xl-8 col-md-12 mb-4">
    <div class="row">
        <div class="d-flex align-items-center justify-content-between mb-2 mt-4">
            <h2 class="fw-bold">{{ .article.Title }}</h2>
            {{ if .user }}
            {{ if .user.IsSuperuser }}
            <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#editBlogModal">Edit
                Post</button>
            {{ end }}
            {{ end }}
        </div>
        <div class="col-xl-12 col-md-12 mb-4">
            <img src="{{ .article.Logo }}" alt="{{ .article.Title }}" class="img-fluid my-4">
            <div id="content"></div>
            <script>
                document.getElementById("content").innerHTML = "{{ .article.Content | markdown }}";
            </script>
        </div>
    </div>
</div>
<!-- Main Article -->

{{ if .user }}
{{ if .user.IsSuperuser }}
<!-- Model Add Blog -->
<div class="modal fade" id="editBlogModal" tabindex="-1" aria-labelledby="editBlogModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editBlogModalLabel">Edit Article {{ .article.CategoryID }}</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/api/v1/article" method="put" id="editPostForm" enctype="multipart/form-data">
                    <input type="hidden" name="author_id" id="author_id" value="{{ .user.ID }}">
                    <input type="hidden" name="id" id="id" value="{{ .article.ID }}">
                    <div class="form-group mb-2">
                        <label for="category_id">Category</label>
                        <select name="category_id" id="category_id" class="form-control" required>
                            <option value="">Select category</option>
                            {{ $categoryID := .article.CategoryID }}
                            {{ range .categories }}
                            <option value="{{ .ID }}" {{ if eq .ID $categoryID }}selected{{ end }}>{{ .Title }}</option>
                            {{ end }}
                        </select>
                    </div>

                    <div class="form-group mb-2">
                        <label for="title">Title</label>
                        <input type="text" name="title" id="title" class="form-control" value="{{ .article.Title }}"
                            required>
                    </div>

                    <div class="form-group mb-2">
                        <label for="slug">Slug</label>
                        <input type="text" name="slug" id="slug" class="form-control" value="{{ .article.Slug }}"
                            required>
                    </div>

                    <div class="form-group mb-2">
                        <label for="logo">Logo</label>
                        <a href="{{ .article.Logo }}">{{ .article.Logo }}</a>
                        <input type="file" name="logo" id="logo" class="form-control">
                    </div>

                    <div class="form-group mb-2">
                        <label for="desc">Description</label>
                        <input type="text" name="desc" id="desc" class="form-control" value="{{ .article.Desc }}"
                            required>
                    </div>

                    <div class="form-group mb-2">
                        <label for="content">Content</label>
                        <textarea name="content" id="content" cols="30" rows="10" class="form-control"
                            required>{{ .article.Content }}</textarea>
                    </div>

                    <div class="form-group mb-2">
                        <label for="status">Status</label>
                        <select name="status" id="status" class="form-control">
                            <option value="">...</option>
                            <option value="DRAFTED" {{ if eq .article.Status "DRAFTED" }}selected{{ end }}>DRAFTED
                            </option>
                            <option value="PUBLISHED" {{ if eq .article.Status "PUBLISHED" }}selected{{ end }}>PUBLISHED
                            </option>
                        </select>
                    </div>

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal Add Blog -->
{{ end }}
{{ end }}

{{ end }}

{{ define "script" }}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.querySelector("#title").onkeyup = function () {
        var value = document.querySelector("#title").value

        var valueStriping = value.replace(/\s+/g, "-").toLowerCase();

        document.querySelector("#slug").value = valueStriping;
    }

    $("#editPostForm").submit(function (e) {
        var formData = new FormData($(this)[0]);

        $.ajax({
            url: "/api/v1/article",
            type: "PUT",
            dataType: "JSON",
            data: formData,
            cache: false,
            async: false,
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.status == "success") {
                    Swal.fire({
                        icon: "success",
                        text: data.message,
                    }).then(result => {
                        if (result.isConfirmed) {
                            window.location.href = "/blog/detail/" + $("#slug").val();
                        }
                    });
                }
            },
            error: function (jqXHR, testStatus, errorThown) {
                var errorJSON = jqXHR.responseJSON;
                Swal.fire({
                    icon: "error",
                    text: errorJSON.message,
                }).then(result => {
                    if (result.isConfirmed) {
                        window.location.reload();
                    }
                });
            }
        });

        e.preventDefault();
    });
</script>
{{ end }}